.login-title {
  color: white;
  transition: transform 0.5s, opacity 0.5s;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));
}

.login-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background: #344f5a;
  justify-content: space-around;
  transition: transform 0.5s, opacity 0.5s;
  box-shadow: 0 4px 40px -20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.login-item {
  margin: 10px;
  height: 10px;
  flex: 2;
}

.login-item-errormsg {
  font-size: 12pt;
  text-align: center;
  color: white;
  flex: 1;
}

.login-button:hover {
  cursor: pointer;
}

input[type='text'] {
  background: transparent;
  padding: 2px;
  margin: 1px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: white;
  transition: all 0.2s;
}

input[type='text']:focus {
  margin: 0;
  border: 3px solid white;
}

input[type='submit'] {
  background: transparent;
  color: white;
  padding: 2px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

input[type='submit']:hover:enabled {
  background: white;
  color: #344f5a;
}

input[type='submit']:active:enabled {
  background: rgba(255, 255, 255, 0.5);
}

input:disabled {
  color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
  cursor: default;
}
